{{> metaHeader title='Title page' description="description"}} {{> header }}

<div class="section-container">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="section-container-spacer text-center">
          <h1 class="h2">About me</h1>
        </div>

        <div class="row">
          <div class="col-md-10 col-md-offset-1">
            <div class="row">
              <div class="col-xs-12 col-md-6">
                <h3>Software Engineer</h3>
                <p>Graduated from the University of Florida with a Bachelors degree in Computer Science.
                  Interned at GE Digital, while there I was tasked with developing a tool that would automate
                  the dependency management for the Predix Data Services team. Worked at Strategic Healthcare
                  Management Systems as a Software Engineer. While there we worked by a ticket basis, therfore
                  as tickets came in we would resolve the issue that our client requested be resolved. Consolidated
                  the Healthcare data on SQL Server studio in order to improve the runtime of the stored procedures.
                </p>
                <h3>Hobbies</h3>
                <p>I own a pet dog named Joker, we go on long walks together and play fetch frequently. I'm an avid
                  sports fan, I support my College football team, and my favorite soccer and basketball teams as well.
                </p>
                <h3>Personal</h3>
                <p>I was born in Queretaro, Mexico and at the age of two my parents decided to move to the U.S. with
                  my sister and I. Since then I have lived my entire life in South West Florida. I absolutely love Florida,
                  I want to live here for as long as I am able.</p>
              </div>
              <div class="col-xs-12 col-md-6">
                <img src="./assets/images/profil.jpg" class="img-responsive" alt="">
              </div>
            </div>
          </div>
        </div>


      </div>
    </div>
  </div>
</div>


{{> footer }} {{> metaFooter}}
