{{> metaHeader title='Title page' description="description"}}
{{> header work='present'}}

<div class="section-container">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div style="width:100%;height:0;padding-bottom:57%;position:relative;"><iframe src="https://giphy.com/embed/cNOho7JLWJforyAkdc" width="100%" height="100%" style="position:absolute" frameBorder="0" class="giphy-embed" allowFullScreen></iframe></div><p><a href="https://giphy.com/gifs/cNOho7JLWJforyAkdc">via GIPHY</a></p>
        <div class="card-container">
          <div class="text-center">
            <h1 class="h2">Work</h1>
          </div>
          <p>I worked on developing a mobile Soccer game of Penalty Kicks as my final project while
          attending University. The game contains AI components for the goalkeeper and the CPU (second player).
          The trajectory of the ball when kicked by the CPU is determined by a random function which randomizes the
          three axis of which the ball may travel.</p>

          <blockquote>
            <p>"It is loading a bullet into the chamber of a gun and asking everyone to pull the trigger.
              Someone will get the bullet, you know that. And it will reduce them to nothing."</p>
            <small class="pull-right">Christian Karembeu</small>
          </blockquote>
        </div>
      </div>



      <div class="col-md-8 col-md-offset-2 section-container-spacer">
        <div class="row">
          <div class="col-xs-12 col-md-6">
            <img src="src/assets/images/main menu.png" class="img-responsive" alt="">
            <p>Main Menu</p>
          </div>
          <div class="col-xs-12 col-md-6">
            <img src="src/assets/images/win-page.png" class="img-responsive" alt="">
            <p>Final Score page</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


{{> footer }} {{> metaFooter}}
