{{> metaHeader title='Title page' description="description"}} {{> header }}

<div class="section-container">
  <div class="container">
    <div class="row">

      <div class="col-sm-8 col-sm-offset-2 section-container-spacer">
        <div class="text-center">
          <h1 class="h2">Work</h1>
        </div>
      </div>

      <div class="col-md-12">


        <!-- Carousel items -->

            <div class="item active">
                <div class="row">
                    <div id="container" class="col-sm-4">

                      <a href="./work.html" title="" class="black-image-project-hover">
                      <div id="giphy" style="width:100%;height:0;padding-bottom:57%;padding-left:104%;position:relative;">
                        <iframe src="https://giphy.com/embed/cNOho7JLWJforyAkdc" width="103%" height="100%" style="position:absolute" frameBorder="0" class="giphy-embed" allowFullScreen>
                        </iframe></div><p><a href="https://giphy.com/gifs/cNOho7JLWJforyAkdc">via GIPHY</a></p>
                      </a>
                      <div id="message"class="card-container card-container-lg">
                        <h3>Penalty Kicks</h3>
                        <p>A mobile Soccer game of Penalty kicks.</p>
                        <a href="./work.html" title="" class="btn btn-default">Discover</a>
                      </div>
                    </div>
                <!--/row-->
            </div>

            <!--/item-->
        </div>
        <!--/carousel-inner-->




    <!--/myCarousel-->
    </div>



    </div>
  </div>
</div>


{{> footer }} {{> metaFooter}}
